:root{
  --link-color: #ffd700;
  --link-color-underlined: #ffd700;
  --text-color: white;
  --main-color: #ffd700;
  --light-slate-color: #cedafa;
  --background-color: #161f20;
  --background-color-dark: #1c1c1c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: overlay;
}

a {
  position: relative;
  text-decoration: none;
  color: var(--link-color);
}

a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--link-color-underlined);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background-color-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--light-slate-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
